@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:wght@529&family=Montserrat:wght@100..900&display=swap');

*{
    margin: 0 ;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #131212
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
}

.login-card {
    background-color: white;
    padding: 100px;
    border-radius: 20px; /* Bordes más redondeados */
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
}

h2 {
    font-family: 'Host Grotesk', sans-serif;
    font-weight: 529;
    font-size: 32px; /* Aumenta el tamaño del texto */
    text-align: center;
    color: #070707;
    margin-bottom: 5px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    ;
}

label {
    font-weight: bold;
    text-align: left;
    display: block;
    color: #050505;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px; 
    font-size: 16px;
    outline: none;
}

button {
    padding: 12px;
    background-color: #6942f5;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    display: block; /* Hace que el botón ocupe toda la línea */
    width: 80%; /* Se ajusta al tamaño del formulario */
    margin: 15px auto 0; /* Centra el botón horizontalmente */
    margin-top: 40px;
    text-align: center;
}


button:hover {
    background-color: rgb(137, 126, 243);
}
